{% extends "base.html" %}

{% block title %}
<title>RiverClan: Splash Quiz</title>
{% endblock %}

{% block content %}
<div>
    <h1>Quiz Yourself on {{ deck.title }}</h1>
    <div>
        <div>
            <h3>{{ flashcard.title }}</h3>
        </div>
        <div>
            <p>{{ flashcard.description }}</p>
        </div>
        <form action="{% url 'correct' deck.slug flashcard.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">Correct</button>
        </form>
        <form action="{% url 'incorrect' deck.slug flashcard.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">Incorrect</button>
        </form>
    </div>
    <a href="{% url 'quiz' deck.slug %}">Next Card</a><br>
    <a href="{% url 'results' deck.slug %}">Finish Quiz</a>
</div>
{% endblock %}