{% extends 'base.html' %}

{% block title %}
<title>RiverClan: Splash Cards</title>
{% endblock %}
{% block content %}
<div class="margin-top-small">
    <h1 class="uk-padding-small uk-text-center uk-text-bolder">Splash Cards</h1>
    <div class="uk-container">
        <div class="uk-align-center uk-card uk-card-primary uk-card-body uk-light uk-width-1-2@m">
            <h3 class="uk-card-title uk-text-center"><b>Welcome to RiverClan's Splash Cards!</b><br> We hope this app will lend you a paw at reviewing or memorizing your important items!<br> And remember...<br><br><i>We are grace. We are power. We are...</i><br></h3><h1 class="uk-text-center"><b><i>RIVERCLAN</i></b></h1>
        </div>
    </div>
</div>
{% endblock %}
