{% extends "base.html" %}

{% block title %}
<title>RiverClan: Splash Quiz</title>
{% endblock %}

{% block content %}
<div class="uk-padding">
    <h1 class="uk-text-center">Quiz Yourself on {{ deck.title }}</h1>
    <div class="uk-card uk-card-primary uk-card-body uk-width-1-3@m uk-align-center">
        <h3 class="uk-card-title uk-text-center">{{ flashcard.title }}</h3>
        <div>
            <form action="{% url 'answer' deck.slug flashcard.pk %}" method="GET">
                <button class="uk-align-center uk-button uk-button-default uk-button-small uk-margin-large-top">Show Answer</button>
            </form>
        </div>
    </div>
    <a class="uk-align-center uk-width-1-6 uk-button uk-button-secondary uk-button-large uk-text-decoration-none" href="{% url 'quiz' deck.slug %}">Next Card</a></p>
    <a class="uk-align-center uk-width-1-6 uk-button uk-button-default uk-button-large uk-text-decoration-none uk-text-emphasis" href="{% url 'results' deck.slug %}">Finish Quiz</a></p>
</div>
{% endblock %}